<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1">
	<title>Block Overflow</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<link rel="stylesheet" href="/stylesheets/buttons.css">
</head>
<body>
	<div id="page-wrapper"<%= " class='deactive-view'" if @login_page || @register_page %>>
		<div id="header-container">
			<header>
				<a id="logo" href="/">Block Overflow</a>
				<ul>
					<% if @user %>
						<li class="new-post-link"><a href="/post/add">New Post</a></li>
						<li><a href="/users/logout">Log Out</a></li>
					<% else %>
						<li><a href="/users/login">Login</a></li>
						<li><a href="/users/register">Sign Up</a></li>
					<% end %>
				</ul>
			</header>
		</div><!-- header-container -->

		<div id="page-container">
		
			<section id="main-search" class="search">
				<form action="/" method="get">
					<fieldset>
						<input type="text" name="search" placeholder="Search...">
						<button type="submit">Search</button>
					</fieldset>
				</form>
			</section>

			<div id="page" class="clearfix">
				<%= yield %>
				<%= @aside %>
			</div>
		</div><!-- main-container -->

		<div id="footer-container">
			<footer>
				<p>Copyright &#169; <%= Time.new.year %> Lior Elrom. All rights reserved.</p>
			</footer>
		</div><!-- footer-container -->
	</div><!-- page-wraper -->
	
	<%= if @login_page then @login_page end %>
	<%= if @register_page then @register_page end %>

	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-49494038-3', 'blogjunky.herokuapp.com');
	  ga('send', 'pageview');
	</script>

</body>
</html>